<nav class="include--posts-list">
  <dl class="post-list">
    {% for post in site.posts %}
      <dt>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
      </dt>
      <dd>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </dd>
      {% if post.excerpt %}
      <dd>
        <blockquote cite="{{ post.url | prepend: site.baseurl }}"
                   class="post-excerpt">
          {{ post.excerpt }}
        </blockquote>
      </dd>
      {% endif %}
    {% endfor %}
  </dl>
</nav>
